.main-bg{
    background-image: url('./assets/BallLogo.png');
    background-size: contain;
    background-position: center;
    height: 200px;
    background-repeat: no-repeat; 
}
.logo-container{
    background-color: gray;
    padding: 30px;
    margin-bottom: 20px;
}
.item{
    display: flex;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 300px;
}